@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --background: #A44A3F;
    --primary: #F6F4D2;
    --secondary: #F19C79;
    --verde: #D4E09B;
    --celeste: #CBDFBD;

 
 }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
     
     text-decoration: none;
     list-style-type: none;
 }
 
 header {
     width: 100%;
     display: flex; 
     justify-content: space-between;
     align-items: center;
     height: 65px;
     padding: 0px 50px;
 
     background: #A44A3F;
     position: fixed;
     top: 0;
     z-index: 2;

 }
 
 .logo {
     height: 70%;
 
 }
 
 .navbar,
 .navbar-list {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
 }
 
 .navbar {
     gap: 100px;
 }
 .navbar-list {
     gap: 30px;
 }
 .navbar-list a {
 color:#F6F4D2;
 font-size: 16px;
 }
 
 #menu-toggle,
 #cart-toggle,

 .menu-label {
   display: none;
 }
 main {
    background: #F6F4D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #A44A3F;
    width: 100%;
 }

 #hero {
    display: flex;
    margin-top: 50px;
    max-width: 1200px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
 }

 .hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
 }
.hero-info h1 {
    font-size: 48px;
    width: 70%;
    font-weight: 800;
    min-width: 400;
    padding: 5px;
}

.hero-info p {
    font-size: 16px;
    width: 70%;
    color: #A44A3F;

}

 .hero-info a {
    border-radius: 10px;
    font-size: 16px;
    color: #A44A3F;
    background-color: #F19C79;
    padding: 8px 12px;
    width: 120px;
    text-align: center;
   
 }

.hero-imagen {
    width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
 #info {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

 }
#info h2 {
    font-size: 25px;
    font-weight: 700;
}

#info p {
    font-size: 16px;
    width: 70%;
    color: #A44A3F;
}

.info-cards-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.info-card {
    width: 300px;
    height: 290px;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #A44A3F;
   
    border-radius: 10px;
    gap: 20px;

}

footer {
    background-color: var(--verde);
    color: #A44A3F;
    padding: 20px;
    text-align: center;
}
footer h2 {
    display: flex;
    text-align: center;
    margin-bottom: 16px;
    padding: 40px;
}

.piedepagina {
    display: flex;
    justify-content: start;
    width: 50%;
    color: #A44A3F;
}

.pie-dos {
    width: 50%;
    justify-content: left;
    text-align: center;

}
.pie-dos h3{
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 10px;
}

.lista {
   padding: 0;
   margin: 0; 
   display: block; 
}

.lista li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 8px;
}

.lista img {
    display: flex;
    justify-content: space-around;
    width: 40px;
    margin-right: 10px
}

.imagen-mapa {
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
  }
.imagen-mapa img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    

    
}
.titulo h4{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #A44A3F;
    padding: 10px;
    margin: 4px;
}
.iconos-finales {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}

.iconos-finales img {
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 4px;
}